[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyTelegramBotAPI = "*"
telebot = "==0.0.4"
requests = "==2.25.1"
python-dotenv = "*"
pyautogui = "*"
opencv-python = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.8"
